@import './../../styles/variables';

.under-construction-component{
  @include panel();
  min-height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}