@import "../../../styles/_variables";

.job-list-item {
  text-align: left;
  color: $carbon;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: $white;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid $borders;
  .link-container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .job-list-logo {
    width: 10%;
    display: inline-block;
    img {
      max-width: 100%;
    }
  }
  .job-title,
  .job-employer,
  .job-description {
    display: block;
  }

  .job-title {
    color: $jobTitle;
    font-weight: normal;
    margin: 0;
  }

  .job-employer {
    font-weight: normal;
    margin: 0 0 10px 0;
  }

  .job-description {
    text-align: left;
    padding: 10px;
    font-size: 1.6rem;
  }

  .job-info {
    display: inline-block;
    width: 100%;
    padding-left: 1%;
  }

  .post-info {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 100%;
    align-self: flex-end;
    text-align: right;
    .post-date {
      margin: 0;
    }
    .post-location {
      margin: 0;
    }
  }

}

@media (max-width: 768px) {
  .job-list-container{

  }
  .job-list-item {

    .job-list-logo {
      display: none;
    }

    .link-container{
      flex-direction: column;
    }

    .post-info{
      float: none;
      display: block;
      width: auto;
      padding-left: 1%;
      height: 100%;
      align-self: flex-start;
      text-align: left;

      .post-date,
      .post-location{
        display: inline;
        margin: 0 1%;
      }
    }
  }
}

@media (max-width: 412px) {
  .job-list-item .post-info {
    display: none;
  }
}