<!DOCTYPE html>
<html>
<head>
	<base href="/">
	<title>React Job Board</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

</head>
<body>
<div id='root'>Loading React application...we should be running</div>
<div id='modal-root'></div>
<script src="bundle.js"></script>
</body>
</html>